.emoji {
  font-size: 80px;
  font-weight: 900;
}

.header {
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.header-elements {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navigation-list {
  display: flex;
  font-size: 23px;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 8px;
}

.itens {
  background-color: #1877f2;
  color: white;
  display: block;
  text-align: center;
  width: 32vw;
}

.itens:hover {
  background-color: #5efff2;
  color: black;
}
