.emoji {
  font-size: 80px;
  font-weight: 900;
}

.header {
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.header-elements {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navigation-list {
  background-color: #5684ae;
  display: flex;
  font-size: 23px;
  justify-content: space-around;
  list-style: none;
  padding: 8px;
}

.navigation-list li:hover {
  background-color: #c3fbf4;
}

.itens {
  box-sizing: border-box;
  color: black;
  width: max-content;
}
