.header {
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.header-elements {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navigation-list {
  background-color: #c3fbf4;
  display: flex;
  font-size: 23px;
  justify-content: space-evenly;
  list-style: none;
}

.itens {
  color: black;
}
