.container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 50px auto;
  width: max-content;
}

.profile {
  color: rgb(41, 40, 40);
}

.profile img {
  border-radius: 100px;
  height: 150px;
  margin: 0 auto;
  width: 150px;
}

.profile p {
  border-bottom: rgba(0, 0, 0, 0.527) 2px solid;
}

.profile a {
  background-color: #5684ae;
  border-radius: 10px;
  color: black;
  padding: 7px;
}

.profile a:hover {
  background-color: rgb(9, 219, 156);
  color: azure;
}
